
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: #ebf7f9;
    max-height: 100vh;
   margin: 0;
   padding: 0;
    
    
    
    
}
.text-center{
    text-align: center;
}

/* nav styles */
.nav-title{
    font-size: 40px;
    font-weight: 900;
    color: #4E47FF;
}
.span-text{
    color: #FF1493;
    font-size: 48px;
}
.btn{
    background-color: #4E47FF;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #FF1493;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 0 150px;
}
/* header styles */
header{
     background-image: url(../Assets/Hero-bg.png);  
    
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
     min-height: 698px;   
}

/* banner section style */
.banner-section{
     text-align: center;
     padding: 150px 200px 100px 200px;
      
}


.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 116px;
    
}


/* action section styles */
.section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.section-content{
    max-width: 500px;
}
.section-image{
    width: 400px;
    border-radius: 48px;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.section-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
/* productive user styles */
.productive-user{
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    

}
.productive-items{
    display: flex;
    justify-content: space-around;
    gap: 150px;
}
.productive-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 30px;
}
.productive-sub-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0;
}
.productive-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    
}
/* review section styles */
.review-container{
    display: flex;
    gap: 20px;
}
.review-content{
    border-radius: 14px;
    padding: 24px;
    background-color: #FFFFFF;
    
    
}
.review-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}
.review-sub-title{
    font-size: 24px;
    color: #1E1E1E;
    font-weight: bold;
    margin-bottom: 0;
}
.review-description{
    font-size: 16px;
    color: #1E1E1E;
    font-weight: 500;
    
}
.reviewer{
    
    font-size: 16px;
    color: #757575;
    margin-bottom: 0;
    
}
.reviewer-date{
    font-size: 16px;
    color: #B3B3B3;
    margin-top: 0;
    
    
    
    
}
.review-pic{
    border-radius: 50%;
    
}
.reviewer-info{
    display: inline-block;
    margin-left: 5px;
}
/* focus section styles */
.focus-container{
    background-color: #FFFFFF;
    padding: 71px 150px;
    border-radius: 14px;
    text-align: center;
   
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
     margin-bottom: 20px;
}
.focus-description{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
     margin-bottom: 20px;
}
.focus-image{
    border-radius: 48px;
     margin-top: 20px;
}
/* form section styles */
.form-container{
     display: flex; 
     justify-content: space-between; 
    
    align-items: center;
    padding: 71px 0;
    
    gap: 100px;
   
    
    

    
}
 .form-heading{
     width: 50%;
}  

.form-title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}
 label{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    
}
  input[type="email"],   input[type="text"]{
    font-size: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 32px;
     display: block; 
     width: 450px;
    height: 40px;
    margin-bottom: 19px; 
    border: none;
}
textarea{
    font-size: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 32px;
     display: block; 
     width: 450px;
    height: 50px;
    margin-bottom: 19px; 
    border: none;

}
 input[type="submit"]{
    border-radius: 10px;
    padding: 19px 100px;
    background-color: #4E47FF;
    width: 100%;

    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;

}
/* footer styles */
footer{
    background-color: #FFFFFF;
    padding: 100px 450px;
    margin-top: 14px;
    
    
}

.footer-description{
    color: #8987A1;
    font-size: 16px;
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    margin-right: 20px;
     
}


